<%- include('includes/header')%>
 <form class="form-signin">
        <h2 class="form-signin-heading text-center">User Login</h2>
        <label for="inputEmail" class="sr-only">UserName</label>
        <input type="text" name="inputEmail" class="form-control" placeholder="User Name" required autofocus>
        <br>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <p>No account? <a href='users/register'>Register</a></p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

      </form>

    </div> <!-- /container -->
<%- include('includes/footer')%>